.header,.hero,.body,.bar,.footer{
	background-color:  #E6CCD5;
	padding: 10px 0;
}
.row{
	min-height: 100px;
}
h2,
.h2{
	text-align: center;
	font-size: 25px
}
.box1{
	min-height: 65px;
	background-color:#99D9EA;
	border: 4px solid #22B14C;
	margin-bottom: 10px;
}
.red{
	background-color: red;
}
img{
	width: 80%;
}
.blockquote{
	background-color: #F2F2F2;
    padding: 27px 11px;
    margin-bottom: 0;
}
